/* Transition variables */
$transition: all .4s ease;

/* Font variables */
$fontBlackhan: 'Quicksand', sans-serif;
$fontOpen: 'Open Sans Condensed', sans-serif;
$fontPacifico: 'Pacifico', cursive;

/* Color variables */
$white: #fff;
$grey: #5e6973;
$golden: #ffd447;

body {
	margin: 0 auto;
} 

.line {
	margin: 20px auto;
	max-width: 400px;
	height: 2px;
	background-color: $golden;
}

.lineSmall {
	margin: 20px auto;
	max-width: 200px;
	height: 2px;
	background-color: $white;
}

section {
	padding: 40px 0;
}

.jumbotron {
	color: $golden;
	background-color: $grey;
	height: auto;
	font-family: $fontPacifico;
	.button {
		margin: 0 auto;
		margin-top: 40px;
		width: 200px;
		height: 60px;
		line-height: 60px;
		background: none;
		color: $golden;
		border: 2px solid $golden;
		font-family: $fontOpen;
		font-weight: bold;
		letter-spacing: 5px;
		transition: $transition;
		&:hover {
			background-color: $golden;
			color: $grey;
			cursor: pointer;
		}
	}
}

.playerBoard {
	height: auto;
	color: $grey;
	font-family: $fontOpen;
	.buttons {
		.button {
			margin: 40px auto;
			padding: 10px 0;
			width: 160px;
			height: 160px;
			font-family: $fontBlackhan;
			color: $grey;
			border: 2px solid #5e6973;
			border-radius: 25px;
			line-height: 80px;
			transition: $transition;
			&:hover {
				background-color: #5e6973;
				color: #ffd447;
				font-weight: 700;
				cursor: pointer;
				transform: scale(1.1);
				-webkit-box-shadow: 2px 1px 23px 3px #000000; 
				box-shadow: 2px 1px 23px 3px #000000;
				border-color: $golden;
			}
			&.hide {
				display: none;
			}
		}
	}
}

.result {
	min-height: 400px;
	background-color: $golden;
	color: $grey;
	font-family: $fontBlackhan;
	.output, .gameResult {
		height: 200px;
		border: 2px solid $white;
		h1 {
			margin: 0;
			line-height: 200px;
		}
		h2 {
			margin: 0;
			line-height: 50px;
		}
		h3 {
			margin: 0;
			line-height: 50px;
		}
		strong {
			color: $white;
		}
	}

}

footer {
	font-family: $fontOpen;
	height: auto;
	background-color: $grey;
	.winRounds {
		h1 {
			color: $golden;
			span {
				color: $white;
			}
		}
	}
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    
    &.show {
        display: block;
    }
}

.modal {
    display: none;
    background: #fff;
    width: 520px;
    height: 500px;
    position: absolute;
    margin: 100px auto;
    transform: translate3d(0, 0, 0);
    border-radius: 3px;
    border: 5px solid $grey;
    &.show {
        display: block;
    }
    
    .close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        color: #000;
        text-decoration: none;
    }
    
    header {
        font-size: 20px;
        line-height: 30px;
        min-height: 30px;
        font-weight: bold;
        padding: 0 30px;
    }

    .content {
   		table {
   			margin: 20px auto;
   			th {
   				padding: 0 5px;
   			}
   		}	
    }
   }